
<%- include('./partials/head') %>
</head>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->

	<!-- recomendados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Nuestros Destacados</h2>
			</div>
			<!-- Show the "recomendados" products -->

			<% products.filter(product => product.category === 'recomended'). forEach (product => { %> 
			    <div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<!-- aca tengo que poner el id entonces uso js con el operador igual para imprimir el atributo id de product-->
						<a href="/products/detail/<%=product.id %>">
							<figure class="product-box_image">
								<img src="/imagenes/<%=product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2><%=product.price %></h2>
								<span><%=product.discount %></span>
								<p><%=product.name %></p>
							</article>
						</a>
					</section>
				</div>
		    <% }) %> 


		</div>
	</div>
	<!-- /recomendados -->

	<!-- Ofertas -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Los recién llegados</h2>
			</div>
			<!-- Show the "Los recién llegados" products -->
			<% products.filter(product => product.category === 'new'). forEach (product => { %> 
			    <div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<!-- aca tengo que poner el id entonces uso js con el operador igual para imprimir el atributo id de product-->
						<a href="/products/detail/<%=product.id %>">
							<figure class="product-box_image">
								<img src="/imagenes/<%=product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2><%=product.price %></h2>
								<span><%=product.discount %></span>
								<p><%=product.name %></p>
							</article>
						</a>
					</section>
				</div>
		    <% }) %> 
		</div>
	</div>
	<!-- /Ofertas -->

    <!-- promociones -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos en promoción</h2>
			</div>
			<!-- Show the "in-sale" products -->

			<% products.filter(product => product.category === 'in-sale'). forEach (product => { %> 
			    <div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<!-- aca tengo que poner el id entonces uso js con el operador igual para imprimir el atributo id de product-->
						<a href="/products/detail/<%=product.id %>">
							<figure class="product-box_image">
								<img src="/imagenes/<%=product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2><%=product.price %></h2>
								<span><%=product.discount %></span>
								<p><%=product.name %></p>
							</article>
						</a>
					</section>
				</div>
		    <% }) %> 


		</div>
	</div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</html>