    <%- include('./partials/head') %>
    <link href="css/estilos.css" rel ="stylesheet">
    <link href="/css/register.css" rel ="stylesheet">
    </head>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
    
        <div class="register_container">
            <div class="register_card">                
                <div class="logo_form">
                    <img src="Imagenes/Logo_Oficial.png" alt="logo">
                </div>
                <div class=" header_form">
                    <h1>Registrate</h1>
                </div>
                <div class="registro_form"> 
                    <!--Agrego el enctype -->              
                    <form action = "/register" method="POST" enctype="multipart/form-data">
                        <!--Agrego el input type: file para poder subir el archivo-->


                        <div class="form-item">
                            <input 
                            type="file"
                            name="imagen" 
                            id="imagen">
					        <label for="imagen"> Adjunte una imagen </label>
                            <% if (locals.errors && errors.imagen ) { %> 
                            <div class="text-danger">
                                <%= errors.imagen.msg %>
                            </div>
                            <% } %> 
                        </div>

                        <div class="form-item">               
                            <input 
                            type="text" 
                            name="fullname" 
                            class="form-control <%= locals.errors && errors.fullname ? 'is-invalid' : null %> "
                            value="<%= locals.oldData ? oldData.fullname :null %>"
                            placeholder= "Nombre" 
                            size="15" > 
                            <% if (locals.errors && errors.fullname ) { %> 
                                <div class="text-danger">
                                    <%= errors.fullname.msg %>
                                </div>
                            <% } %> 
                        </div> 

                        <div class="form-item">                      
                            <input 
                             type="text"
                             name=lastname
                             class="form-control <%= locals.errors && errors.lastname ? 'is-invalid' : null %> "
                             value="<%= locals.oldData ? oldData.lastname :null %>"
                             id="lastname" 
                             placeholder= "Apellido" 
                             size="15">
                             <% if (locals.errors && errors.lastname ) { %> 
                                <div class="text-danger">
                                    <%= errors.lastname.msg %>
                                </div>
                            <% } %> 
                        </div>

                        <div class="form-item">                   
                            <input 
                            type="text"
                            name=username
                            id="username"
                            class="form-control <%= locals.errors && errors.username ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.username:null %>"
                            placeholder= "Nombre de usuario" 
                            size="15" > 
                            <% if (locals.errors && errors.username ) { %> 
                                <div class="text-danger">
                                    <%= errors.username.msg %>
                                </div>
                            <% } %> 
                        </div> 

                        <div class="form-item">                             
                            <input 
                            type="text" 
                            name=password 
                            class="form-control <%= locals.errors && errors.password? 'is-invalid' : null %>"
                            id="password" 
                            placeholder= "Contraseña" size="15" >
                            <% if (locals.errors && errors.password ) { %> 
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>                       
                        </div>

                        <div class="form-item">                           
                            <input
                            type="text" 
                            name=password 
                            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %> "
                            id="password" 
                            placeholder= "Repite la contraseña" size="15" >
                            <% if (locals.errors && errors.password ) { %> 
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>  
                        </div>
                              
                        <div class="form-item">                          
                            <input 
                            type="email" 
                            name=email 
                            class="form-control <%= locals.errors && errors.lastname ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email :null %>"
                            id="email" 
                            placeholder= "E-mail" 
                            size="15" >
                            <% if (locals.errors && errors.email ) { %> 
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>                         
                        </div>

                        <div class="form-item">                   
                        <input 
                           type="text" 
                           name=category 
                           class="form-control <%= locals.errors && errors.category ? 'is-invalid' : null %>"
                           value="<%= locals.oldData ? oldData.email :null %>"
                           id="category" 
                           placeholder= "categoria" size="15" >
                           <% if (locals.errors && errors.category) { %> 
                            <div class="text-danger">
                                <%= errors.category.msg %>
                            </div>
                           <% } %>           
                        </div>  
                        
                        <div class="form-item"><input type="submit" value="Continuar"></div>
                            
                        <!-- <div class="form-item"><input type="submit" value="Continuar"></input> 
                            <div>
                                <a href="#">Iniciar Sesion</a>
                            </div>
                        </div> -->

                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>


</body>     

</html>